*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 36, 5);
}
/* -----------Navigation Bar */
.navBar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254, 247, 226);
    border-radius: 30px;
}
#logo{
    width: 40px;
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color:rgb(244, 223, 134) ;
    border: none;
    
}
.ape{
    width: 123px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    
}
@media screen and (min-width: 768px){
    #section{
        display: flex;
    }
    .navBar{
        width: 200px;
        height: 100vh;
        display: flex;
        /* justify-content: space-around; */
        /* align-items: center; */
        background-color: rgb(254, 247, 226);
        border-radius: 30px;
        flex-direction: column;
    }
    
}
    



/* -----------CARDS */

.card{
    width: 265px;
    /* height: 390px; */
    background-color: rgb(251, 247, 227);
    border-radius: 93px;
    overflow: hidden;    
}
img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    /* height: 65%; */
    object-fit: cover;    
}
.cardTitle h1 , .cardTitle p{
    margin: 0;
    text-align: center;    
}
.cardTitle{    
    width: 55%;
    height: 20%;
    font-size: 0.6em;    
}
.cardTitle p{
    font-size: 1.6em;
}
.description{
    display: flex;
    padding-top: 26px;
    justify-content: space-evenly;  
    color: rgb(97, 36, 5);  
}
button{
    height: 30px;
    width: 60%;
    display: block;
    margin-inline: auto;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgb(244, 223, 134);
    border: none;
    color: rgb(97, 36, 5);
}
@media screen and (max-width: 767px){
    .card {
        width: 241px;
        /* height: 239px; */
        background-color: rgb(251, 247, 227);
        border-radius: 43px;
        overflow: hidden;
        font-size: 0.7em;
    }
    .description {
        display: flex;
        padding-top: 11px;
        justify-content: space-around;
        color: rgb(97, 36, 5);
    }
    #cards{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .cart{
        font-size: 0.9em;
        margin-top: 0;
    }
    
}
@media screen and (min-width: 768px){
    .card {
        width: 241px;
        /* height: 239px; */
        background-color: rgb(251, 247, 227);
        border-radius: 43px;
        overflow: hidden;
        font-size: 0.7em;
    }
    #cards{
        display: flex;
        gap: 10px;
    }


/* --------Flex Article */

#article{
    
    background-color: rgb(251, 247, 227);
    display: flex;
    border-radius:25px ;
    max-width: 1200px;
    box-sizing: border-box;
    

}
.immagine{
    min-width: 420px;
    width: 50vw;
    margin: 20px;
}
.testo{
    width: 50vw;
    margin-top: 20px;
    font-size: 0.8em;   
}

@media screen and (max-width: 767px){
        article{
        margin-top: 30px;
        margin-bottom: 0;
         }
        #article {
        flex-direction :column-reverse;
        width: 95vw;            
        margin-inline: auto;                
        }
        .testo{
            margin-left: 7%;

            
        }
        .immagine{
            min-width: 100px;
            margin-block: 0;
            border-radius: 0;
            width: 85vw;
            margin-left: 7%;
            }
            .testo{
                width: 85vw;
            
        }
        
        
    }
